$game_width: 600px;
$game_height: 600px;
$game_over_ba: #ffffff;
$cell_hover: #c0bdbd;

.form{
    text-align: center;
    margin: 0px auto;
    width: 30%;
}

#gameOverlay
{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2; 
    cursor: pointer; 

    div{
        justify-self: center;
        align-self: center;
        margin: 0 auto;
        background-color: $game_over_ba;
        width: 20%;
        height: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 2rem;
        border-radius: 20px;
        button{
            height: 20%;
            margin-top: auto;
            font-size: 2em;
        }
        z-index: 3;
    }
}

#gameContainer
{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 80px;
}

#gridCanvas{
    display: flex;
    flex-direction: row;
    width: $game_width;
    height: $game_height;
    border: 1px solid black;
}

#xNumbers{
    align-self: flex-end;
    width: $game_width;
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    div{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
        align-self: flex-end;
        flex-grow: 1;
        div{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            ul{

                list-style-type: none;
                text-align: center;
            }
        }
    }
}

#yNumbers{
    align-self: flex-end;
    height: $game_height;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    div{
        display:flex;
        flex-direction: row;
        flex-basis: 0;
        flex-grow: 1;
        div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            ul{
                list-style-type: none;
                text-align: right;
                margin: 0;
                li{
                    display: inline;
                    margin: 0px 10px;
                    
                }
                li:last-child{
                    margin-right: 16px;
                }
            }
        }
    }
}


.gameRow{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.Row{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Cell{
    border: 1px solid black;
    flex-grow: 1;
}

.Cell-Hover{
    background-color: $cell_hover;
}

.Cell-X{
    content: "";
    display: block;
    background-image: url("../img/X.svg");
}

.Cell-O{
    background-color: #0a275e;
}

.Cell-Red{
    animation: 1s red-flash;
}

.text-flicker-in{
    font-weight: 600;
    animation: 2s text-flicker-in-glow;
}

.Check-Button{
    width: max-content;
    align-self: center;
    margin: 30px;
}

.Show-Button{
    width: max-content;
    align-self: center;
    margin: 30px;
}

.gameStats{
    display: flex;
    flex-direction: row;
}

@keyframes red-flash{
    0%{
        background-color: #ff1e00;
    }
    30%{
        background-color: #ff1e00;
    }
    100%{
        background-color: #ff1e0000;
    }
}

@keyframes text-flicker-in-glow {
    0% {
      opacity: 0;
    }
    10% {
      opacity: 0;
      text-shadow: none;
    }
    10.1% {
      opacity: 1;
      text-shadow: none;
    }
    10.2% {
      opacity: 0;
      text-shadow: none;
    }
    20% {
      opacity: 0;
      text-shadow: none;
    }
    20.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
    }
    20.6% {
      opacity: 0;
      text-shadow: none;
    }
    30% {
      opacity: 0;
      text-shadow: none;
    }
    30.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.5% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    30.6% {
      opacity: 0;
      text-shadow: none;
    }
    45% {
      opacity: 0;
      text-shadow: none;
    }
    45.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    50% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
    }
    55.1% {
      opacity: 0;
      text-shadow: none;
    }
    57% {
      opacity: 0;
      text-shadow: none;
    }
    57.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
    }
    60.1% {
      opacity: 0;
      text-shadow: none;
    }
    65% {
      opacity: 0;
      text-shadow: none;
    }
    65.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    75.1% {
      opacity: 0;
      text-shadow: none;
    }
    77% {
      opacity: 0;
      text-shadow: none;
    }
    77.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    85.1% {
      opacity: 0;
      text-shadow: none;
    }
    86% {
      opacity: 0;
      text-shadow: none;
    }
    86.1% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
    100% {
      opacity: 1;
      text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
    }
}
  